.SideBar
  .user--name
    .top--items
      .name
        %p masa
      .icons
        = link_to "", class: "a" do
          = icon("fas", "edit", class: "edit--icon")
        = link_to "", class: "a" do
          = icon("fa", "cog", class: "cog--icon")
  .group--list
    .groupDetail
      .groupName グループ名
      .groupLast--message メッセージはありません
    .groupDetail
      .groupName グループ名
      .groupLast--message メッセージはありません
    .groupDetail
      .groupName グループ名
      .groupLast--message メッセージはありません
    
    